<div class="ToDoBoard">
  <div class="ToDoColumn" *ngFor="let status of statuses">
    <h3 class="column-title">{{ status.label }}</h3>
    <div class="column-content">
      <ng-container *ngIf="tasks$ | async as tasks">
        <app-card *ngFor="let task of tasks | taskByStatus: status.key" [task]="task"
          [canMoveLeft]="canMoveLeft(task.status)" [canMoveRight]="canMoveRight(task.status)"
          (remove)="onRemove(task.id)" (move)="onMove({ id: task.id, dir: $event })">
        </app-card>
      </ng-container>
    </div>
  </div>
</div>