<div class="ToDoBoard">
  <div class="ToDoColumn">
    <h3 class="column-title">Новый</h3>
    <div class="column-content">
      <mat-card *ngFor="let task of tasksByStatus('new'); index as i" class="example-card" tabindex="0"
        (keydown)="onKeyDown($event, task.id)">
        <mat-card-header>
          <mat-card-title>
            {{ task.title }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>{{ task.label }}</mat-card-content>
        <mat-card-content>ID: {{ task.id }}</mat-card-content>
        <mat-card-actions align="end">
          <button mat-button disabled>←</button>
          <button mat-button (click)="moveTask(task.id, 'right')">→</button>
          <button mat-button color="warn" (click)="removeTask(task.id)">
            Удалить
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  
  <div class="ToDoColumn">
    <h3 class="column-title">В работе</h3>
    <div class="column-content">
      <mat-card *ngFor="let task of tasksByStatus('inProgress'); index as i" class="example-card" tabindex="0"
        (keydown)="onKeyDown($event, task.id)">
        <mat-card-header>
          <mat-card-title>
            {{ task.title }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>{{ task.label }}</mat-card-content>
        <mat-card-content>ID: {{ task.id }}</mat-card-content>
        <mat-card-actions align="end">
          <button mat-button (click)="moveTask(task.id, 'left')">←</button>
          <button mat-button (click)="moveTask(task.id, 'right')">→</button>
          <button mat-button color="warn" (click)="removeTask(task.id)">
            Удалить
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div class="ToDoColumn">
    <h3 class="column-title">Проверка</h3>
    <div class="column-content">
      <mat-card *ngFor="let task of tasksByStatus('review'); index as i" class="example-card" tabindex="0"
        (keydown)="onKeyDown($event, task.id)">
        <mat-card-header>
          <mat-card-title>
            {{ task.title }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>{{ task.label }}</mat-card-content>
        <mat-card-content>ID: {{ task.id }}</mat-card-content>
        <mat-card-actions align="end">
          <button mat-button (click)="moveTask(task.id, 'left')">←</button>
          <button mat-button (click)="moveTask(task.id, 'right')">→</button>
          <button mat-button color="warn" (click)="removeTask(task.id)">
            Удалить
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div class="ToDoColumn">
    <h3 class="column-title">Сделано</h3>
    <div class="column-content">
      <mat-card *ngFor="let task of tasksByStatus('done'); index as i" class="example-card" tabindex="0"
        (keydown)="onKeyDown($event, task.id)">
        <mat-card-header>
          <mat-card-title>
            {{ task.title }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>{{ task.label }}</mat-card-content>
        <mat-card-content>ID: {{ task.id }}</mat-card-content>
        <mat-card-actions align="end">
          <button mat-button (click)="moveTask(task.id, 'left')">←</button>
          <button mat-button disabled>→</button>
          <button mat-button color="warn" (click)="removeTask(task.id)">
            Удалить
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>